
/bootstrap/compiled.php
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env.local.php
.env.php
.env
composer.phar
composer.lock

.idea/
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.log
npm-debug.log*
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
jspm_packages
.npm-debug
.node_repl_history
